In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/euro2012', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

  Tables_in_euro2012
0              eteam
1               game
2               goal

1. Show the matchid and player name for all goals scored by Germany

In [2]:
df_q1 = pd.read_sql("select g.matchid, g.player from goal g inner join eteam et on g.teamid = et.id where et.teamname = 'Germany'", engine)
df_q1

   matchid          player
0     1008     Mario Gómez
1     1010     Mario Gómez
2     1010     Mario Gómez
3     1012  Lukas Podolski
4     1012     Lars Bender
5     1026    Philipp Lahm
6     1026    Sami Khedira
7     1026  Miroslav Klose
8     1026      Marco Reus
9     1030      Mesut Özil