In [13]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/euro2012', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

  Tables_in_euro2012
0              eteam
1               game
2               goal

1. Show the matchid and player name for all goals scored by Germany

In [14]:
df_q1 = pd.read_sql("select g.matchid, g.player from goal g inner join eteam et on g.teamid = et.id where et.teamname = 'Germany'", engine)
df_q1

   matchid          player
0     1008     Mario Gómez
1     1010     Mario Gómez
2     1010     Mario Gómez
3     1012  Lukas Podolski
4     1012     Lars Bender
5     1026    Philipp Lahm
6     1026    Sami Khedira
7     1026  Miroslav Klose
8     1026      Marco Reus
9     1030      Mesut Özil

2. Show id, stadium, teamname1, teamname2 for just game 1012

In [15]:
df_q2 = pd.read_sql("select g.id, g.stadium, et1.teamname teamname1, et2.teamname teamname2 from game g inner join eteam et1 on g.team1 = et1.id inner join eteam et2 on g.team2 = et2.id where g.id = 1012", engine)
df_q2

     id     stadium teamname1 teamname2
0  1012  Arena Lviv   Denmark   Germany

3. Show the player, teamid, stadium and mdate for every German goal.

In [16]:
df_q3 = pd.read_sql('select go.player, go.teamid, ga.stadium, ga.mdate from goal go inner join eteam et on go.teamid = et.id inner join game ga on go.matchid = ga.id  where teamname = "Germany"', engine)
df_q3

           player teamid                   stadium         mdate
0     Mario Gómez    GER                Arena Lviv   9 June 2012
1     Mario Gómez    GER          Metalist Stadium  13 June 2012
2     Mario Gómez    GER          Metalist Stadium  13 June 2012
3  Lukas Podolski    GER                Arena Lviv  17 June 2012
4     Lars Bender    GER                Arena Lviv  17 June 2012
5    Philipp Lahm    GER          PGE Arena Gdansk  22 June 2012
6    Sami Khedira    GER          PGE Arena Gdansk  22 June 2012
7  Miroslav Klose    GER          PGE Arena Gdansk  22 June 2012
8      Marco Reus    GER          PGE Arena Gdansk  22 June 2012
9      Mesut Özil    GER  National Stadium, Warsaw  28 June 2012

4. Show the team1, team2 and player for every goal scored by a player called Mario

In [17]:
df_q4 = pd.read_sql("select ga.team1, ga.team2, go.player from game ga inner join goal go on ga.id = go.matchid where go.player like 'Mario%%'", engine)
df_q4

  team1 team2           player
0   GER   POR      Mario Gómez
1   NED   GER      Mario Gómez
2   NED   GER      Mario Gómez
3   IRL   CRO  Mario Mandžukic
4   IRL   CRO  Mario Mandžukic
5   ITA   CRO  Mario Mandžukic
6   ITA   IRL  Mario Balotelli
7   GER   ITA  Mario Balotelli
8   GER   ITA  Mario Balotelli

5. Show player, teamid, coach, gtime for all goals scored in the first 10 minutes gtime<=10

In [18]:
df_q5 = pd.read_sql("select go.player, go.teamid, et.coach, go.gtime from goal go inner join eteam et on go.teamid = et.id where go.gtime <=10", engine)
df_q5

            player teamid               coach  gtime
0     Petr Jirácek    CZE        Michal Bílek      3
1     Václav Pilar    CZE        Michal Bílek      6
2  Mario Mandžukic    CRO        Slaven Bilic      3
3  Fernando Torres    ESP  Vicente del Bosque      4

6. List the dates of the matches and the name of the teams in which 'Fernando Santos' was the coach of one of two teams

In [19]:
df_q6 = pd.read_sql("select  ga.mdate, et1.teamname, et2.teamname from game ga inner join eteam et1 on ga.team1 = et1.id inner join eteam et2 on ga.team2 = et2.id where et1.coach = 'Fernando Santos' or et2.coach = 'Fernando Santos'", engine)
df_q6

          mdate teamname        teamname
0  16 June 2012   Greece          Russia
1  12 June 2012   Greece  Czech Republic
2   8 June 2012   Poland          Greece
3  22 June 2012  Germany          Greece

7. List the player for every goal scored in a game where the stadium was 'National Stadium, Warsaw'

In [20]:
df_q7 = pd.read_sql("select go.player from goal go inner join game ga on go.matchid = ga.id where ga.stadium = 'National Stadium, Warsaw'", engine)
df_q7

                 player
0    Robert Lewandowski
1  Dimitris Salpingidis
2          Alan Dzagoev
3  Jakub Blaszczykowski
4    Giorgos Karagounis
5     Cristiano Ronaldo
6       Mario Balotelli
7       Mario Balotelli
8            Mesut Özil

8. In the Germany-Greece quarterfinal, show the name of all players who scored a goal against Germany

In [21]:
df_q8 = pd.read_sql("select go.player from game ga inner join goal go on ga.id = go.matchid where ((ga.team1 = 'GER' and ga.team2 = 'GRE') or (ga.team1 = 'GRE' and ga.team2 = 'GER')) and go.teamid = 'GRE'", engine)
df_q8

                 player
0      Georgios Samaras
1  Dimitris Salpingidis

9. Show teamname and the total number of goals scored

In [26]:
df_q9 = pd.read_sql("select t2.teamname, t1.Count from (select teamid, count(*) Count from goal group by teamid) t1 inner join eteam t2 on t1.teamid = t2.id order by teamname", engine)
df_q9

               teamname  Count
0               Croatia      4
1        Czech Republic      4
2               Denmark      4
3               England      5
4                France      3
5               Germany     10
6                Greece      5
7                 Italy      6
8           Netherlands      2
9                Poland      2
10             Portugal      6
11  Republic of Ireland      1
12               Russia      5
13                Spain     12
14               Sweden      5
15              Ukraine      2