In [4]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/euro2012', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

  Tables_in_euro2012
0              eteam
1               game
2               goal

1. Show the matchid and player name for all goals scored by Germany

In [6]:
df_q1 = pd.read_sql("select g.matchid, g.player from goal g inner join eteam et on g.teamid = et.id where et.teamname = 'Germany'", engine)
df_q1

   matchid          player
0     1008     Mario Gómez
1     1010     Mario Gómez
2     1010     Mario Gómez
3     1012  Lukas Podolski
4     1012     Lars Bender
5     1026    Philipp Lahm
6     1026    Sami Khedira
7     1026  Miroslav Klose
8     1026      Marco Reus
9     1030      Mesut Özil

2. Show id, stadium, teamname1, teamname2 for just game 1012

In [8]:
df_q2 = pd.read_sql("select g.id, g.stadium, et1.teamname teamname1, et2.teamname teamname2 from game g inner join eteam et1 on g.team1 = et1.id inner join eteam et2 on g.team2 = et2.id where g.id = 1012", engine)
df_q2

     id     stadium teamname1 teamname2
0  1012  Arena Lviv   Denmark   Germany

3. Show the player, teamid, stadium and mdate for every German goal.

In [10]:
df_q3 = pd.read_sql('select go.player, go.teamid, ga.stadium, ga.mdate from goal go inner join eteam et on go.teamid = et.id inner join game ga on go.matchid = ga.id  where teamname = "Germany"', engine)
df_q3

           player teamid                   stadium         mdate
0     Mario Gómez    GER                Arena Lviv   9 June 2012
1     Mario Gómez    GER          Metalist Stadium  13 June 2012
2     Mario Gómez    GER          Metalist Stadium  13 June 2012
3  Lukas Podolski    GER                Arena Lviv  17 June 2012
4     Lars Bender    GER                Arena Lviv  17 June 2012
5    Philipp Lahm    GER          PGE Arena Gdansk  22 June 2012
6    Sami Khedira    GER          PGE Arena Gdansk  22 June 2012
7  Miroslav Klose    GER          PGE Arena Gdansk  22 June 2012
8      Marco Reus    GER          PGE Arena Gdansk  22 June 2012
9      Mesut Özil    GER  National Stadium, Warsaw  28 June 2012

4. Show the team1, team2 and player for every goal scored by a player called Mario

In [13]:
df_q4 = pd.read_sql("select ga.team1, ga.team2, go.player from game ga inner join goal go on ga.id = go.matchid where go.player like 'Mario%%'", engine)
df_q4

  team1 team2           player
0   GER   POR      Mario Gómez
1   NED   GER      Mario Gómez
2   NED   GER      Mario Gómez
3   IRL   CRO  Mario Mandžukic
4   IRL   CRO  Mario Mandžukic
5   ITA   CRO  Mario Mandžukic
6   ITA   IRL  Mario Balotelli
7   GER   ITA  Mario Balotelli
8   GER   ITA  Mario Balotelli