In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd 
engine = create_engine('mysql+pymysql://root:12345678@localhost:3306/euro2012', echo=False)
table_info = pd.read_sql('show tables', engine)
table_info

  Tables_in_euro2012
0              eteam
1               game
2               goal